@import 'iconfont/iconfont.css';
@import 'mixin';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: @bc;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(190, 190, 190, 0);
  box-shadow: inset 0 0 1px rgba(190, 190, 190, 0);
  border-radius: 8px;
  background-color: @bc;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 8px rgba(128, 128, 128, 0.3);
  box-shadow: inset 0 0 8px rgba(128, 128, 128, 0.3);
  background-color: rgb(207, 207, 207);
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: @bc;
  min-width: 1200px;
  font-size: 12px!important;
}

.el-header, .el-footer {
  background-color: @blue;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  z-index: 10;
  overflow-x: hidden!important;
  background-color: #D3DCE6;
  color: #333;
  .el-menu {
    border: none;
    min-height: 100%;
    .el-menu-item {
      min-width: 180px;
      height: 50px;
      font-size: 12px;
      line-height: 50px;
      i {
        margin-right: 5px;
      }
      &.is-active {
        border-left: none;
        background-color: rgb(23, 34, 43)!important;
      }
    }
    .el-submenu {
      i {
        margin-right: 5px;
      }
      .el-submenu__title {
        font-size: 12px;
      }
    }
  }
}

.el-main {
  background-color: @white;
  color: #333;
  margin: 20px;
}

.el-form-item {
  margin-bottom: 20px;
  .el-form-item__label {
    font-size: 12px;
  }
  .el-input__inner {
    height: 30px;
    line-height: 30px;
    font-size: 12px!important;
  }
  .el-form-item__error {
    padding-top: 0;
  }
}

.el-button {
  padding: 5px;
  &.el-button--primary {
    background-color: @blue;
    border-color: @blue;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: @blue;
  border-color: @blue;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: @blue;
}

.el-switch {
  .el-switch__core {
    height: 16px;
    &:after {
      width: 12px;
      height: 12px;
    }
  }
  &.is-checked {
    .el-switch__core::after {
      margin-left: -13px;
    }
  }
}

.el-input-number.is-controls-right {
  .el-input-number__increase, .el-input-number__decrease {
    line-height: 15px;
  }
  .el-input-number__increase {
    top: 5px;
  }
  .el-input-number__decrease {
    bottom: 5px;
  }
}

.el-dropdown-menu {
  margin: 0;
  .el-dropdown-menu__item {
    font-size: 12px;
    line-height: 30px;
    &:first-of-type {
      margin-top: 0;
      border-top: none;
    }
  }
}

.el-dialog__header {
  padding: 15px 20px;
  text-align: left;
  line-height: 20px;
  .bdb();
}

.el-dialog__footer {
  padding: 20px;
  line-height: 30px;
  .bdt();
}

.breadcrumb {
  position: fixed;
  top: 60px;
  padding: 15px 20px;
  .el-breadcrumb {
    font-size: 12px;
    .el-breadcrumb__inner, .el-breadcrumb__separator {
      line-height: 20px;
    }
  }
}

.el-carousel {
  background-color: #d3dce6;
  .el-carousel__item {
    padding: 0 10px;
  }
}

.el-popover {
  font-size: 12px;
  line-height: 20px;
  padding: 15px 20px;
}

.el-table {
  font-size: 12px;
  th {
    padding: 10px 0;
    .cell {
      font-weight: normal;
    }
  }
  td {
    padding: 8px 0;
    .cell {
      line-height: 20px;
      font-weight: normal;
      img.coinIcon {
        .wh(25px, 25px);
        display: inline-block;
        line-height: 25px;
        float: left;
      }
      span.coinName {
        line-height: 25px;
        float: left;
        margin-left: 10px;
      }
    }
  }
}

.fl {
   float: left;
 }
 .fr {
   float: right;
 }
 .ml5 {
   margin-left: 5px;
 }
 .ml10 {
   margin-left: 10px;
 }

.loginBg {
  .wh(100%, 100vh);
  .bis('../assets/img/loginBg.jpg');
  overflow: hidden;
  .loginContainer {
    .wh(300px, auto);
    padding: 30px;
    .ctt;
    margin-left: 300px;
    background-color: @white;
    .brs(5px);
    .loginTitle {
      font-size: 18px;
      color: @blue;
      line-height: 25px;
      text-align: center;
      margin-bottom: 15px;
    }
    .loginForm {
      width: 100%;
      margin: 0 auto;
      .el-form-item {
        .codeVal {
          width: 100px;
          float: left;
        }
        .validateCode {
          width: auto;
          float: left;
          margin-left: 10px;
          line-height: 40px;
          .authCode {
            .wh(80px, 25px);
            border: 1px solid #999999;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .el-select {
          width: 100%;
        }
        &:last-of-type, &.choseLanguage {
          margin-bottom: 0;
        }
        &.remember {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.container {
  display: block;
}

.menu-btn{
  background-size: 100% 100%!important;
  position: fixed;
  top: 18px;
  left: 225px;
  width: 24px;
  height: 24px;
  z-index: 1000;
  cursor: pointer;
  font-size: 20px!important;
  color: @white;
}

.logo {
  height: 60px;
  background-color: @blue;
}

.iconfont {
  font-size: 18px;
}

.navDash, .checkLanguage {
  float: right;
}
.navDash {
  font-size: 12px;
  color: @white;
  i {
    color: @white;
  }
}
.checkLanguage {
  width: 120px;
  margin-right: 30px;
  .el-input__inner {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

.indexMain {
  max-width: 1200px;
  margin: 50px 20px 20px;
  .el-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    .grid-content {
      background-color: @white;
      padding: 20px;
      .brs(5px);
      span.blue {
        color: @blue;
      }
      .title {
        width: 100%;
        height: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 15px;
        span {
          float: left;
        }
        i {
          float: right;
          cursor: pointer;
        }
      }
      .content {
        width: 100%;
        min-height: 300px;
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid #999999;
        overflow: hidden;
        .news {
          width: 100%;
          height: 30px;
          font-size: 12px;
          line-height: 30px;
          position: relative;
          .newsTitle {
            float: left;
            cursor: pointer;
            .trans(0.5s);
            &:hover, &.active {
              color: @blue;
            }
          }
          .newsCreatetime {
            float: right;
          }
        }
        .weather {
          width: 100%;
          height: auto;
          font-size: 12px;
          line-height: 30px;
          .iconfont {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.search-box {
  background-color: @white;
  padding: 20px;
  .brs(5px);
  margin: 50px 20px 20px;
  position: relative;
  .el-form {
    width: 100%;
    overflow: hidden;
    .el-form-item {
      width: calc((100% / 4) - 20px);
      float: left;
      margin: 0 20px 0 0;
      .el-select, .el-date-editor.el-input, .el-date-editor.el-input__inner {
        width: 100%;
      }
    }
    .button-line {
      width: 100%;
      overflow: hidden;
      .el-form-item {
        width: auto;
        float: right;
        margin-top: 15px;
      }
    }
  }
}

.table_container {
  padding: 20px;
  background-color: @white;
  margin: 50px 20px 20px;
  .brs(5px);
  .tableBtns {
    margin-bottom: 10px;
  }
  .tableStyle {
    border: 1px solid #EBEEF5;
    border-bottom: none;
    th {
      padding: 10px 0;
      font-size: 12px;
    }
    tr {
      &.hover-row {
        .hoverBtn {
          background-color: transparent;
        }
      }
      td {
        padding: 5px 0;
        font-size: 12px;
        .el-button+.el-button {
          margin-left: 0;
        }
      }
      .hoverBtn {
        border: none;
        &:hover {
          background-color: @blue;
          i {
            color: @white;
          }
        }
      }
    }
  }
  .Pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    .el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: @blue;
    }
  }
}

.siteWrapper {
  display: none;
}
