<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.epac.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.hd.epac.entity.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="registtime" jdbcType="TIMESTAMP" property="registtime" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="admin" jdbcType="INTEGER" property="admin" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, password, registtime, place, age, birth, admin, state, gender
  </sql>
    <select id="checkLogin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from hd_user
        where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <insert id="addUser">
    insert into hd_user (userid, username, password,
      registtime, place, age,
      birth, admin, state,
      gender)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{registtime,jdbcType=TIMESTAMP}, #{place,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
      #{birth,jdbcType=VARCHAR}, #{admin,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
      #{gender,jdbcType=INTEGER})
  </insert>

  <update id="updateUser">
    update hd_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birth = #{birth,jdbcType=VARCHAR},
      admin = #{admin,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <select id="findAllUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hd_user
  </select>

  <delete id="delUser" parameterType="java.util.List">
    delete from hd_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>

  <delete id="delUsers" parameterType="java.util.List">
    delete from hd_user
    where userid in
    <foreach collection="list" item="userid" open="(" separator="," close=")">
      #{userid,jdbcType=INTEGER}
    </foreach>
  </delete>

  <update id="updateState">
    update hd_user
    set state = #{state,jdbcType=INTEGER}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <update id="resetPWD" parameterType="java.util.List">
    update hd_user
    set password = "123456"
    where userid in
    <foreach collection="list" item="userid" open="(" separator="," close=")">
      #{userid,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>