<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.epac.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.hd.epac.entity.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="admin" jdbcType="INTEGER" property="admin" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="logintime" jdbcType="TIMESTAMP" property="logintime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, password, createtime, age, birth, admin, state, gender, logintime, updatetime, province, city, area
  </sql>

  <!--登录-->
  <select id="checkLogin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hd_user
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>

  <!--根据用户名查找-->
  <select id="searchUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hd_user
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <!--添加用户-->
  <insert id="addUser">
    insert into hd_user (userid, username, password, createtime, age, birth, admin, state, gender, logintime, updatetime, province, city, area)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, current_timestamp, #{age,jdbcType=INTEGER}, #{birth,jdbcType=VARCHAR}, #{admin,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, current_timestamp, current_timestamp, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR})
  </insert>

  <!--更新用户信息-->
  <update id="updateUser">
    update hd_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birth = #{birth,jdbcType=VARCHAR},
      admin = #{admin,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      updatetime = current_timestamp
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <!--获取所有用户-->
  <select id="findAllUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hd_user
    where userid != 10000
  </select>

  <!--删除用户（单删）-->
  <delete id="delUser" parameterType="java.util.List">
    delete from hd_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>

  <!--删除用户（多删）-->
  <delete id="delUsers" parameterType="java.util.List">
    delete from hd_user
    where userid in
    <foreach collection="list" item="userid" open="(" separator="," close=")">
      #{userid,jdbcType=INTEGER}
    </foreach>
  </delete>

  <!--更改用户状态-->
  <update id="updateState">
    update hd_user
    set state = #{state,jdbcType=INTEGER},
      updatetime = current_timestamp
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <!--重置用户密码（批量重置）-->
  <update id="resetPWD" parameterType="java.util.List">
    update hd_user
    set password = "123456",
      updatetime = current_timestamp
    where userid in
    <foreach collection="list" item="userid" open="(" separator="," close=")">
      #{userid,jdbcType=INTEGER}
    </foreach>
  </update>

  <!--修改登录人密码-->
  <update id="modifyPWD">
    update hd_user
    set password = #{password,jdbcType=VARCHAR},
      updatetime = current_timestamp
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>